
<script id="results-template" type="text/x-handlebars-template">
  <div id="parent-container">
  {{#each this}}

    <div class="container results" id="result_{{@index}}">
      <div class="flight-info">
        <p class="price">${{sale_total}}</p>
        <p class="stops-duration"><span id="not-important">{{ifCondition num_of_stop}} | {{durationInHours duration}}h {{durationInMinutes duration}}m</span></p>
      </div>

      <div class="flight-info verbose">
        <p class="carrier"><span id="not-important"><u>{{carrier}} </u><span class="carrier-code">( {{carrier_code}} {{flight_number}} )</span></span></p>
        <p class="date-time" id="departure">{{depart_time}} <span id="important">{{origin}}</span></p>
        <p class="date-time" id="arrival">{{arrival_time}} <span id="important">{{destination}}</span></p>
      </div>

      <div class="purchase-button">
        <input type="submit" class="button" id="purchase" value="select" data={{@index}}>
      </div>

      <div class="email-button">
        <input type="submit" class="button" id="email_{{@index}}" value="track" data={{@index}}>
      </div>

      <div class="add-to-wishlist">
        <input type="submit" class="button wish-button" id="wishlist_{{@index}}" value="+ list" data={{@index}}>
      </div>

    </div>
  {{/each}}
  </div>

  <div class='wish-list'>
    <h2>Wish List</h2>

    <table>
        <tr>
          <th>Destination</th>
          <th style="display:none">Link</th>
        </tr>
      <tbody id="table-body">
      </tbody>
    </table>

    <input id="user-name" type="text" placeholder="Your name here"></input>
    <input id="email-address" type="email" placeholder="Your email here"></input>
    <button class="button" id="email-me">Email</button>

  </div>
</script>
          <!-- <th>Airline</th> -->
          <!-- <th>Price</th> -->
