<div class="container results">
  <div class="flight price">
    <h2>$200.00</h2>
  </div>
  <div class="flight info">
    <h3>Virgin America (VX 152)</h3>
    <h3>8:25p SFO --> 1-:05p CDG <span class="flight duration">17h 40m</span></h3>
  </div>
</div>
