<script id="results-template" type="text/x-handlebars-template">
  {{#each this}}
    <div class="container results" data-id={{#index}}>
      <div class="flight-info">
        <p class="price">{{sale_total}}</p>
      </div>
      <div class="flight-info verbose">
        <p class="carrier">{{carrier}} <span class="carrier-code">( {{carrier_code}} {{flight_number}} )</span></p>
        <p class="date-time">{{depart_time}} {{origin}} to {{arrival_time}} {{destination}}</p>
      </div>
      <div class="purchase-button">
        <input type="submit" class="button" id="purchase" value="purchase" data={{@index}}>
      </div>
      <div class="email-button">
        <input type="submit" class="button" id="email" value="track" data={{@index}}>
      </div>
    </div>
  {{/each}}
</script>

    <div class="container results" data-id={{@index}}>
      <div class="flight-info">
        <p class="price">$ 300.50</p>
      </div>
      <div class="flight-info verbose">
        <p class="carrier">Royal Dutch Airlines <span class="carrier-code">( KLM 576 )</span></p>
        <p class="date-time" id="departure"><span id="depdate">{{depDate}}</span>08:00-07:00 San Francisco</p>
        <p class="date-time" id="arrival"><span id="arrdate">{{arrDate}}</span>to 2015-08-16T08:00-07:00 San Antonio</p>
      </div>
      <div class="purchase-button">
        <input type="submit" class="button" id="purchase" value="select" data={{@index}}>
      </div>
      <div class="email-button">
        <input type="submit" class="button" id="email" value="track" data={{@index}}>
      </div>
    </div>
