<header role="banner" class="row">
  <h1 class="logo">GetTheFlightOut</h1>
  <!-- for when we end up adding User Profiles -->
<!--   <nav role="navbar" class="row">
    <h1>About</h1>
  </nav> -->
</header>

<div class="image-wrapper">
  <div class="container">
    <!-- <img src="http://media.rusbase.com/blogs/sunset-plane.png"> -->
    <div class="search-bar-wrapper">
    </div>

    <div class="search-bar-div">
        <form class="search-bar">
          <input type="text" class="search-params" id="origin" placeholder="Departing City">
          <input type="text" class="search-params" id="budget" placeholder="What's your budget">
          <input type="date" class="search-params" id="dep-date" placeholder="Departure Date">
          <input type="submit" class="button" id="submit">
        </form>
    </div>

  </div>
</div>

<%= erb :_result %>
