<header role="banner" class="row">
  <h1 class="logo">GetTheFlightOut</h1>
  <!-- for when we end up adding User Profiles -->
<!--   <nav role="navbar" class="row">
    <h1>About</h1>
  </nav> -->
</header>

<div class="hero-wrapper">
  <div id="hero">
    <video id="videobg" preload="auto" autoplay="true" loop="loop" muted="muted" volume="0">
      <source src="/assets/plane.mp4" type="video/mp4">
    </video>
  </div>
</div>

<div class="container">

  <!-- search-bar-wrapper div to be replaced with result-text upon successful return of data from api -->
  <div class="search-bar-wrapper">

    <!-- transparent black shadow for search bar -->
    <!-- separated so that search bar does not inherit opacity property -->
    <div class="search-bar-shadow">
    </div>

    <form class="search-bar">
      <input type="text" class="search-params" id="origin" placeholder="Departing City" autocomplete="on">
      <input type="text" class="search-params" id="budget" list="budget-list" placeholder="Budget">
      <input class="search-params datepicker" id="dep-date" placeholder="">
      <input class="search-params datepicker" id="ret-date" placeholder="">
      <input type="submit" class="button" id="submit">
    </form>
  </div>

  <div class="result-text" style="display:none">
    <p>Oh the places you'll go...</p>
  </div>

</div>
<div id="dialog" title="Email Me!" style="display:none">
  <form action="" method="post">
    <label>Name:</label>
    <input id="name" name="name" type="text">
    <label>Email:</label>
    <input id="email" name="email" type="text">
    <input id="submit" type="submit" value="Submit">
  </form>
</div>

<datalist id="budget-list">
<%= erb :_budget_list %>
</datalist>

<div class="results-wrapper">
<%= erb :_result %>
</div>



