<div class="container row">

<form class="search-bar">
  <input type="text" id="origin" placeholder="Departing City">
  <input type="text" id="budget" placeholder="What's your budget">
  <input type="date" id="dep-date" placeholder="Departure Date">
  <input type="submit" class="button-search-bar">
</form>

</div>
