<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">
  <!-- stylesheet for responsive.gs grids -->
  <link rel="stylesheet" href="/css/responsive.gs.12col.css">
  <!-- link for animate.css -->
  <link rel="stylesheet" href="/css/animate.css">
  <!-- for datePickers in search bar -->
  <link rel="stylesheet" href="//code.jquery.com/ui/1.11.3/themes/smoothness/jquery-ui.css">
  <!-- font for logo -->
  <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab' rel='stylesheet' type='text/css'>
  <!-- font for body -->
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <!-- <link href='http://fonts.googleapis.com/css?family=Lato:400' rel='stylesheet' type='text/css'> -->
  <!-- font for fadeIn text -->
  <link href='http://fonts.googleapis.com/css?family=Homemade+Apple' rel='stylesheet' type='text/css'>
  <title>GetTheFlightOut</title>
</head>

<body>
  <%= yield %>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="//code.jquery.com/ui/1.11.3/jquery-ui.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/3.0.0/handlebars.min.js"></script>
  <script src="/js/helpers.js"></script>
  <script src="/js/application.js"></script>
  <script src="/js/tooltip.js"></script>
  <script src="/js/autocomplete.js"></script>
  <script src="/js/datedropdowns.js"></script>
  <script src="/js/errorhandling.js"></script>

</body>
</html>
