/** {
  outline: 1px solid gray;
}*/

.logo {
  font-family: 'Arbutus Slab', serif;
  margin-left: 20px;
}

body {
  background-color: #ececec;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

img {
max-width: 800px;
}

.image-wrapper {
  background-image: url("http://media.rusbase.com/blogs/sunset-plane.png");
  width: 100%;
  height: 550px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: center top;
  padding-top: 190px;
}

.container {
 /* see responsive.gs.12col.css */
}

.search-bar-shadow {
  height: 150px;
  opacity: 0.6;
  background-color: black;
  border-radius: 5px;
}

input {
  border-radius: 5px;
}

.search-bar {
  position: relative;
  bottom: 85px;
  width: 670px;
  margin: 0 auto;
}

.search-params {
  height: 28px;
  width: 170px;
  margin-left: 10px;
  margin-right: 10px;
}

#submit {
  height: 28px;
  width: 66px;
  margin-left: 10px;
}

/**** RESULTS TEMPLATE CSS ****/

.container.results {
  margin-top: 50px;
  border: 1px solid gray;
}

.flight {
  display: inline-block;
}

.flight.price {
  margin-left: 70px;
  margin-right: 100px;
  position: relative;
  bottom: 15px;
}

.flight.duration {
  color: #767676;
  margin-left: 70px;
}

.result-text p {
  position: relative;
  bottom: 70px;
  text-align: center;
  font-size: 3em;
  color: #ececec;
  font-family: 'Arbutus Slab', serif;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #414141;
}
