/** {
  outline: 1px solid black;
}*/

.app-name {
  font-family: 'Arbutus Slab', serif;
  margin-left: 20px;
}

.logo {
  height: 38px;
  position: relative;
  left: 5px;
  top: 5px;
}

body {
  background-color: #ececec;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

.row * {
  display: inline-block;
}

.button {
  color: #fff;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  width: 81px;
}

/* video elements */
.hero-wrapper {
  position: relative;
  height: 600px;
  display: block;
}

#hero {
  position: absolute;
  z-index: -1;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  overflow: hidden;
  -webkit-filter: blur(3px);
}

#videobg {
  bottom: 0;
  width: 100%;
  z-index: -1;
  position: absolute;

}

.load-icon img {
  width: 4em;
  position: absolute;
  top: 340px;
  left: 47%;
}

.container #on-hero {
  max-width: 800px;
  margin: 0 auto;
  height: 0;
}

input {
  border-radius: 2px;
}

/* search bar elements */
.search-bar-wrapper {
  position: relative;
  bottom: 380px;
}

.search-bar-shadow {
  height: 150px;
  opacity: 0.6;
  background-color: black;
  border-radius: 5px;
  z-index: 1;
  top: 500px;*/
}

.search-bar {
  position: relative;
  bottom: 110px;
  width: 600px;
  margin: 0 auto;
  opacity: 0.9;
  z-index: 2;
}

.search-params {
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
}

.search-params#origin {
  width: 400px;
  margin-bottom: 15px;
  z-index: 4;
}

.search-params#budget {
  width: 130px;
}

/* styling for info on hover with budget */
div.ui-tooltip {
  font-size: .75em;
  width: 220px;
}

.search-params#dep-date {
  width: 215px;
}

.search-params#ret-date {
  width: 215px;
}

div.ui-datepicker {
  font-size: 12.5px;
}

.ui-datepicker table .ui-state-hover {
  background: #ff5a5f;
}

#submit {
  height: 28px;
  width: 66px;
  margin-left: 15px;
}

/* sytling for email dialog box */
div.ui-dialog {
  font-size: .9em;
}

div.ui-widget-header {
  color: #fff;
  border-color: #ff5a5f;
  border-bottom-color: #e00007;
  background-color: #ff5a5f;
  background-image: none;
}

div.ui-icon {
  color: #fff;
}

#dialog form .button {
  position: relative;
  left: 161px;
}

/* replaces search bar when displaying results to query */
.result-text p {
  position: relative;
  bottom: 610px;
  text-align: center;
  font-size: 3.4em;
  color: #ececec;
  /*color: #414141;*/
  font-family: 'Homemade Apple', cursive;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #414141;
}

/* message to show up instead of result text when there are no results*/
.apology-text {
  position: relative;
  bottom: 610px;
  text-align: center;
}

.apology-text #sorry {
  font-size: 3.4em;
  /*color: #ececec;*/
  color: #414141;
  font-family: 'Homemade Apple', cursive;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #414141;
}

.apology-text #error {
  font-family: 'Arbutus Slab', serif;
  font-size: 1em;
  color: #414141;
  text-shadow: 1px 1px 1px #414141;
}

.no-flights-text {
  position: relative;
  bottom: 610px;
  text-align: center;
}

.no-flights-text #sorry {
  font-size: 3.4em;
  /*color: #ececec;*/
  color: #414141;
  font-family: 'Homemade Apple', cursive;
  font-weight: bolder;
  text-shadow: 1px 1px 1px #414141;
}

.no-flights-text #no-flights {
  font-family: 'Arbutus Slab', serif;
  font-size: 1em;
  color: #414141;
  text-shadow: 1px 1px 1px #414141;
}

/* remove autocomplete helper text because it's unnecessary */
.ui-helper-hidden-accessible {
  display: none;
}

/**** RESULTS TEMPLATE CSS ****/
.results-wrapper {
  position: relative;
  bottom: 420px;
}

.container.results {
  margin-top: 30px;
  border: 1px solid gray;
  position: relative;
  box-shadow: 5px 5px 5px #888;
}

#important {
  font-size: 1em;
  font-weight: 700;
}

#not-important {
  font-size: .8em;
  font-weight: 400;
}

.flight-info {
  display: inline-block;
  font-size: 1.2em;
}

.flight-info.verbose {
  position: absolute;
  margin-right: 50px;
  margin-left: 50px;
  top: 12px;
}

.purchase-button {
  position: absolute;
  top: 65px;
  right: 50px;
}

.email-button {
  position: absolute;
  top: 110px;
  right: 50px;
}

.wish-list {
  /*position: relative;*/
/*  bottom: 2103px;
  left: 1400px;*/
  position: absolute;
  left: 0;
  top: 0;
  width: 216px;
  border: 1px solid gray;
  box-shadow: 5px 5px 5px #888;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
}

.wish-list h2 {
  text-align: center;
}

.wish-list table {
  margin-bottom: 20px;
}
.wish-list table th {
  width: 150px;
}

.wish-list #table-body {
  text-align: center;
}

.add-to-wishlist input {
  position: relative;
  bottom: 55px;
  left: 65px;
 }

.price {
  font-weight: bolder;
  font-size: 2em;
  margin-left: 60px;
  margin-right: 50px;
  position: relative;
  top: -10px;
}

.stops-duration {
  position: relative;
  left: 45px;
  bottom: 50px;
  color: gray;
}

.carrier-code {
  color: gray;
}

.ui-widget {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.ui-menu {
  background-color: #ccc;
  width: 398px;
  z-index: 4;
}

.ui-autocomplete {
  border-top: 0.5px solid transparent!important;
  position: absolute;
  max-height: 150px;
  overflow-y: auto;
  overflow-x: hidden;
}

a.logo-reload {
  text-decoration: none;
  color: black;
}


